vendor
dist/*
__pycache__/*
vendor/*
bin
build.sh
sidecars/slurm/.*
cmd/sidecars/slurm/.*
sidecars/docker/.*
cmd/sidecars/docker/.*
config
envs.sh
token
secret.yaml
configmap.yaml
kubeconfig.yaml
kubeconfigVEGA.yaml
serviceaccount.yaml
.knoc
.tmp
kustomizations_tmp
ca.*
condor*
examples/interlink-slurm/vk/*
examples/sidecar/templates/python/__pycache__/*
